.controls__play-icon {
    transition: opacity 0.5s ease-in-out, max-height 0.8s ease,
        visibility 0.5s ease-in-out;
}

@media all and (max-width: 600px) {
    .controls__play-icon {
        width: 13px;
        height: 16px;
    }
}
