.controls__pause-icon {
  margin-top: 4px;
}

@media screen and (max-width: 600px) {
  .controls__pause-icon {
    width: 11px;
    height: 12px;
  }
}

.controls__pause-icon:hover {
  transform: scale(1.02);
  transition: all 0.5s ease;
  cursor: pointer;
}