.page {
    background-image: url(../../images/IMG_1-min.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1653px 1158px;;
    overflow: hidden;
    background-attachment: fixed;
    font-family: "Inter", "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    padding: 0 10px;
}

@media all and (max-width: 400px) {
    .page {
        padding: 0 5px;
    }
}