.turbina__music-link {
    font-family: Inter, 'Arial', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px 18px 8px 15px;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 30px;
    white-space: nowrap;
}

@media all and (max-width: 1024px) {
    .turbina__music-link {
        font-size: 15px;
        line-height: 18px;
    }
}

@media all and (max-width: 400px) {
    .turbina__music-link {
        font-size: 12px;
        line-height: 1.2;
        padding: 7px 16px 7px 16px;
    }
}

.turbina__music-link:hover {
    font-style: italic;
    /* cursor: pointer; */
}
