.player__details-container {
  padding-left: 35px;
  padding-right: 20px;
  max-height: 104px;
  overflow-y: scroll;
  margin-right: 38px;
  margin-top: 30px;
  margin-bottom: 8px;
  transition: opacity 0.5s ease-in-out, max-height 0.8s ease,
    visibility 0.5s ease-in-out;
  grid-area: details;
}
.player__details-container::-webkit-scrollbar {
  width: 3px;
  background: rgba(243, 243, 243, 0.1);
}
.player__details-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}

@media all and (max-width: 1024px) {
  .player__details-container {
    margin-top: 28px;
    padding-left: 30px;
    max-height: 96px;
  }
}

@media all and (max-width: 650px) {
  .player__details-container {
    width: calc(100% - 50px);
    max-height: 80px;
    padding-left: 14px;
    margin-right: 16px;
  }
}
