.details__song-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.35;
    font-style: italic;
    margin: 0;
    overflow-wrap: break-word;
    transition: opacity 0.5s ease-in-out, max-height 0.8s ease,
        visibility 0.5s ease-in-out;
}

@media all and (max-width: 1024px) {
    .details__song-text {
        font-size: 18px;
        line-height: 1.44;
    }
}

@media all and (max-width: 600px) {
    .details__song-text {
        font-size: 14px;
        line-height: 1.36;
    }
}
