.description__title {
    font-weight: normal;
    font-size: 50px;
    line-height: 61px;
    font-style: italic;
    text-transform: uppercase;
    padding: 90px 0 40px 0;
    margin: 0;
}

.description__title:first-of-type {
    padding-top: 110px;
}

@media screen and (max-width: 1024px) {
    .description__title {
        font-size: 46px;
        line-height: 56px;
        padding-top: 80px;
    }

    .description__title:first-of-type {
        padding-top: 100px;
    }
}

@media all and (max-width: 786px) {
    .description__title {
        font-size: 42px;
        line-height: 51px;
    }
}

@media all and (max-width: 400px) {
    .description__title {
        font-size: 32px;
        line-height: 39px;
        padding: 60px 0 30px 0;
    }

    .description__title:first-of-type {
        padding-top: 80px;
    }
}
