.description {
    padding-left: 51px;
    padding-right: 51px;
}

@media screen and (max-width: 1024px) {
    .description {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media all and (max-width: 400px) {
    .description {
        padding-left: 20px;
        padding-right: 20px;
    }
}
