.description {
    display: flex;
    flex-direction: column;
    width: 94%;
    background-size: cover;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
    padding-left: 58px;
}