.controls__cross-icon {
    padding: 0;
    transition: opacity 0.5s ease-in-out, max-height 0.8s ease,
        visibility 0.5s ease-in-out;
}
.controls__cross-icon:hover {
    cursor: pointer;
}

@media all and (max-width: 600px) {
    .controls__cross-icon {
        width: 16px;
        height: 16px;
    }
}
