.controls__cross-icon {
    transition: opacity 0.5s ease-in-out, max-height 0.8s ease,
        visibility 0.5s ease-in-out;
}

@media all and (max-width: 600px) {
    .controls__cross-icon {
        width: 16px;
        height: 16px;
    }
}

.controls__cross-icon:hover {
<<<<<<< HEAD
    transform: scale(1.02);
    transition: all 0.5s ease;
    cursor: pointer;
=======
  cursor: pointer;
>>>>>>> afb978eec61617987f919ea08f3f6516a9b709e1
}
