.turbina {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 0;
  margin: 0;
}
/* @media all and (max-width: 600px) {
  .turbina {
    filter: blur(4px);
  }
} */
