.controls__video-clip-button {
  min-width: 94px;
  height: 35px;
  margin-right: 10px;
  background: #fff;
  border: 2px solid transparent;
  outline: none;
  border-radius: 30px;
  font-family: Inter;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding: 0;
  transition: opacity 0.5s ease-in-out, max-height 0.8s ease,
    visibility 0.5s ease-in-out, width 0.8s ease;
}
.controls__video-clip-button:hover {
  cursor: pointer;
}
@media all and (max-width: 1024px) {
  .controls__video-clip-button {
    min-width: 84px;
  }
}
@media all and (max-width: 600px) {
  .controls__video-clip-button {
    min-width: 74px;
    height: 31px;
    order: 5;
    margin-right: 5px;
    margin-left: 15px;
  }
}
