.turbina__dropbtn {
  display: none;
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 7px 16px;
  box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media all and (max-width: 600px) {
  .turbina__dropbtn {
    display: block;
  }
}
