.form__error {
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
    visibility: hidden;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ff0000;
    margin-top: 6px;
}

@media all and (max-width: 400px) {
    .form__error {
        font-size: 15px;
    }
}
