.turbina__music-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

@media all and (max-width: 400px) {
  .turbina__music-links {
    /* display: none; */
    padding: 6px 0px 0 0;
    top: 35px;
    overflow: hidden;
    opacity: 0;
    will-change: transform;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: scaleY(0);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }

  .turbina__music-links.opened {
    transform: scaleY(1);
    opacity: 1;
  }
}
