.turbina__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
}

@media all and (max-width: 400px) {
  .turbina__links {
    height: 309px;
  }
}