.player__controls {
  display: flex;
  max-width: 85vw;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}

@media screen and (max-width: 580px) {
  .player__controls {
      flex-wrap: wrap;
      max-width:100%;
      
  }
}