@import url(../vendor/normalize.css);
@import url(../fonts/inter/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/turbina/turbina.css);
@import url(../blocks/turbina/__links/turbina__links.css);
@import url(../blocks/turbina/__logo/turbina__logo.css);
@import url(../blocks/turbina/__music-links/turbina__music-links.css);
@import url(../blocks/turbina/__music-elem/turbina__music-elem.css);
@import url(../blocks/turbina/__music-link/turbina__music-link.css);
@import url(../blocks/content/content.css);
@import url(../blocks/turbina/__image/turbina__image.css);
@import url(../blocks/information/information.css);
@import url(../blocks/description/description.css);
@import url(../blocks/description/__element/description__element.css);
@import url(../blocks/proposition/proposition.css);
@import url(../blocks/proposition/__element/proposition__element.css);
@import url(../blocks/description/__title/description__title.css);
@import url(../blocks/description/__subtitle/description__subtitle.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__title/form__title.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__input/_poem/form__input_poem.css);
@import url(../blocks/form/__input-radio/form__input-radio.css);
@import url(../blocks/form/__label/form__label.css);
@import url(../blocks/form/__link/form__link.css);
@import url(../blocks/form/__submit/form__submit.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__subtitle/footer__subtitle.css);