.turbina__dropdown-menu {
  margin: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media all and (max-width: 400px) {
  .turbina__dropdown-menu {
    margin: 15px 8px 0 0;
  }
}
