.form__submit {
    width: 600px;
    height: 60px;
    margin-top: 43px;
    margin-bottom: 110px;
    border: 2px solid #000000;
    border-radius: 30px;
    background-color: #FFFF;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.form__submit:hover {
    transform: scale(1.02);
    transition: all 0.5s ease;
}