.form__submit {
    width: 600px;
    height: 60px;
    margin-top: 43px;
    border: 2px solid #000000;
    border-radius: 30px;
    background-color: #FFFF;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
}

@media all and (max-width: 768px) {
    .form__submit {
        font-size: 15px;
        width: 648px;
    }
}

@media all and (max-width: 720px) {
    .form__submit {
        width: 550px;
    }
}

@media all and (max-width: 650px) {
    .form__submit {
        width: 450px;
    }
}

@media all and (max-width: 550px) {
    .form__submit {
        width: 270px;
    }
}

@media all and (max-width: 320px) {
    .form__submit {
        font-size: 12px;
        line-height: 20px;
        max-width: 270px;
    }
}

.form__submit:hover {
    font-style: italic;
    cursor: pointer;
}