.controls__open-details-button {
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
  outline: none;
  background: none;
  transition: 0.2s linear;
}

@media screen and (max-width: 580px) {
  .controls__open-details-button {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}
}