.controls__open-details-button {
    padding: 0;
    border: none;
    width: 24px;
    height: 24px;
    outline: none;
    background: none;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

@media all and (max-width: 600px) {
    .controls__open-details-button {
        width: 16px;
        height: 16px;
        margin-left: 11px;
    }
}

.controls__open-details-button:hover {
    cursor: pointer;
}
