.form__label {
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-top: 43px;
  justify-items: center;
}

@media all and (max-width: 786px) {
  .form__label {
    font-size: 15px;
  }
}

@media all and (max-width: 400px) {
  .form__label {
    font-size: 12px;
  }
}
