.controls__play-button {
  padding: 0;
  border: none;
  width: 20px;
  height: 16px;
  outline: none;
  background: none;
  transition: 0.2s linear;
}

@media screen and (max-width: 1024px){
    .controls__play-button {
      width: 15px;
      height: 18px;
  }
}

@media all and (max-width:580px){
  .controls__play-button {
    width: 16px;
    height: 13px;
}
}
