.details__title {
    font-style: italic;
    margin: 0 0 16px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    transition: opacity 0.5s ease-in-out, max-height 0.8s ease,
        visibility 0.5s ease-in-out;
}

@media all and (max-width: 1024px) {
    .details__title {
        font-size: 18px;
        line-height: 1.44;
    }
}

@media all and (max-width: 768px) {
    .details__title {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .details__title {
        font-size: 14px;
        line-height: 1.36;
    }
}
