.player__container {
    padding: 0 15px 20px;
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
    color: #fff;
    min-width: 300px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    max-width: 1280px;
}
@media all and (max-width: 400px) {
    .player__container {
        padding: 0 13px 20px 15px;
    }
}
