.form__title {
    font-weight: normal;
    font-size: 50px;
    line-height: 61px;
    padding: 90px 0 40px 0;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .form__title {
        font-size: 46px;
        line-height: 56px;
        padding-top: 80px;
    }
}

@media all and (max-width: 786px) {
    .form__title {
        font-size: 42px;
        line-height: 51px;
    }
}

@media all and (max-width: 400px) {
    .form__title {
        font-size: 32px;
        line-height: 39px;
        padding: 60px 0 30px 0;
    }
}
