@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');

body {
    background-color: lightsteelblue;
    padding-top: 20px;
}



.player {
    padding: 0 25px 20px;
    font-family: 'Inter', Arial, sans-serif;
    color: #ffffff;
    min-width: 300px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    max-width: 1280px;
}











/* при наведении на ползунок */
.song-item__timeline-hover-playhead {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 210px;
    /* opacity: 0; */
    height: 2px;
    background-color: #fff;
    opacity: 0.6;
    transition: opacity 0.3s;
}
/* указатель времени перемотки
.hover-playhead::before {
    opacity: 0;
    content: '';
    /* content: attr(data-content); */
/* display: block;
    position: absolute;
    top: -30px;
    right: -23px;
    width: 40px;
    padding: 3px;
    text-align: center;
    color: white;
    background: green;
} */

.details__songs-list {
    padding: 0;
    margin: 0;
}
.details__song-item {
    list-style: none;
    margin-bottom: 16px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.song-item__name-wrap {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* max-width: calc(100% - 24px); */
    max-width: min(100vw - 336px, 944px);
}
.song-item__name-wrap_type_release {
    text-decoration: none;
    color: #fff;
}
.song-item__name-wrap_type_release:hover {
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
.player__details-container {
    padding-left: 35px;
    padding-right: 20px;
    max-height: 104px;
    overflow-y: scroll;
    margin-right: 38px;
    margin-top: 30px;
    margin-bottom: 8px;
}
.player__details-container::-webkit-scrollbar {
    width: 3px;
    background: rgba(243, 243, 243, 0.1);
}
.player__details-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
}
.details__title {
    font-style: italic;
    margin: 0 0 16px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
}
.details__song-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.35;
    font-style: italic;
    margin: 0;
    overflow-wrap: break-word;
}

@media screen and (max-width: 1024px) {
    .song-item__name-wrap {
        font-size: 18px;
    }
    
    .details__song-text {
        font-size: 18px;
        line-height: 1.44;
    }
    .details__title {
        font-size: 18px;
        line-height: 1.44;
    }
    
    .player__details-container {
        margin-top: 28px;
        max-height: 96px;
    }
   
}
@media screen and (max-width: 768px) {
    
    .details__song-item {
        margin-bottom: 10px;
    }
    .details__title {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 580px) {
   
    .song-item__name-wrap {
        font-size: 14px;
        line-height: 1.36;
        max-width: calc(100% - 48px);
    }
   
    
    
    .player__details-container {
        max-height: 80px;
    }
    .details__song-text {
        font-size: 14px;
        line-height: 1.36;
    }
    .details__title {
        font-size: 14px;
        line-height: 1.36;
    }
    
    .player__details-container {
        padding-left: 25px;

        margin-right: 27px;
    }
    
    .controls__play-icon {
        width: 16px;
        height: 13px;
    }
   
    .controls__arrow-icon {
        width: 16px;
        height: 16px;
    }
    .controls__cross-icon {
        width: 16px;
        height: 16px;
    }
    .player {
        padding: 0 13px 20px 15px;
    }
}
