@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import url(./blocks/page/page.css);
@import url(./blocks/head/head.css);
@import url(./blocks/turbina/turbina.css);
@import url(./blocks/turbina/__links/turbina__links.css);
@import url(./blocks/turbina/__logo/turbina__logo.css);
@import url(./blocks/turbina/__music-links/turbina__music-links.css);
@import url(./blocks/turbina/__music-elem/turbina__music-elem.css);
@import url(./blocks/turbina/__music-link/turbina__music-link.css);
@import url(./blocks/turbina/__dropdown-menu/turbina__dropdown-menu.css);
@import url(./blocks/turbina/__dropbtn/turbina__dropbtn.css);
@import url(./blocks/turbina/__dropbtn-active/__dropbtn-active.css);
@import url(./blocks/turbina/__title/turbina__title.css);
@import url(./blocks/content/content.css);
@import url(./blocks/turbina/__image/turbina__image.css);
@import url(./blocks/information/information.css);
@import url(./blocks/description/description.css);
@import url(./blocks/description/__element/description__element.css);
@import url(./blocks/proposition/proposition.css);
@import url(./blocks/proposition/__element/proposition__element.css);
@import url(./blocks/description/__title/description__title.css);
@import url(./blocks/description/__subtitle/description__subtitle.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__subtitle/form__subtitle.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/audio/audio.css);
@import url(./blocks/player/player.css);
@import url(./blocks/player/__container/player__container.css);
@import url(./blocks/player/__controls/player__controls.css);
@import url(./blocks/player/__details-container/player__details-container.css);
@import url(./blocks/controls/__play-button/controls__play-button\ .css);
@import url(./blocks/controls/__lyrics-release-button/controls__lyrics-release-button.css);
@import url(./blocks/controls/__open-details-button/controls__open-details-button.css);
@import url(./blocks/controls/__svg/controls__svg.css);
@import url(./blocks/controls/__pause-icon/controls__pause-icon.css);
@import url(./blocks/controls/__arrow-icon/controls__arrow-icon.css);
@import url(./blocks/controls/__cross-icon/controls__cross-icon.css);
@import url(./blocks/controls/__play-icon/controls__play-icon.css);
@import url(./blocks/disabeld/disabled.css);
@import url(./blocks/song-item/song-item.css);
@import url(./blocks/song-item/__time-progress/song-item__time-progress.css);
@import url(./blocks/song-item/__timer/song-item__timer.css);
@import url(./blocks/song-item/__wrap/song-item__wrap.css);
@import url(./blocks/song-item/__timeline-hover-playhead/song-item__timeline-hover-playhead.css);
@import url(./blocks/song-item/__timeline-playhead/song-item__timeline-playhead.css);
@import url(./blocks/song-item/__timeline/song-item__timeline.css);
@import url(./blocks/song-item/__name-wrap/song-item__name-wrap.css);
@import url(./blocks/song-item/__name-wrap/_type_release/song-item__name-wrap_type_release.css);
@import url(./blocks/details/__song-item/details__song-item.css);
@import url(./blocks/details/__songs-list/details__songs-list.css);
@import url(./blocks/details/__song-text/details__song-text.css);
@import url(./blocks/details/__title/details__title.css);
@import url(./blocks/form/__input-radio/form__input-radio.css);
@import url(./blocks/form/__label/form__label.css);
@import url(./blocks/form/__link/form__link.css);
@import url(./blocks/form/__submit/form__submit.css);
@import url(./blocks/form/__error/form__error.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__subtitle/footer__subtitle.css);
@import url(./blocks/footer/__link/footer__link.css);
@import url(./blocks/opened/opened.css);


