.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 51px;
}

@media screen and (max-width: 1024px) {
  .form {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media all and (max-width: 400px) {
  .form {
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}
